.pokemon-list {
  width: 508px;
  height: 737px;
  background: #2d2f36;
  border-radius: 8px 0px 0px 8px;
}

.pokemon-list div > div:first-child {
  margin-top: 64px;
}
.pokemon-list div > nav {
  position: absolute;
  bottom: 0;
}

.gif {
  width: 508px;
  height: 737px;
}
