.pokemon-list {
  position: absolute;
  width: 508px;
  height: 737px;
  left: 126px;
  top: 78px;

  background: #2d2f36;
  border-radius: 8px 0px 0px 8px;
}

.pokemon-list div > div:first-child {
  margin-top: 64px;
}
