.button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 6px solid #f2c94c;
  background-color: #f2c94c;
  border-radius: 12px;
  margin-right: 1rem;

  width: 380px;
  height: 60px;
  left: 530px;
  top: 521px;
}

.button:hover,
.button:active {
  background: #efce6a;
  border-color: #efce6a;
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
