.button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid #77002e;
  background-color: #77002e;
  color: #fcb8d2;
  border-radius: 12px;
  margin-right: 1rem;
}

.button:hover,
.button:active {
  background: #fcb8d2;
  border-color: #fcb8d2;
  color: #77002e;
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
