.control {
}

.control input {
  display: block;
}

.control input {
  font: inherit;
  border-radius: 6px;
  color: #ffffff;
  box-sizing: border-box;
  padding-left: 22px;
  width: 380px;
  height: 60px;
  background: #3f414b;
  border: 1px solid #f2c94c;
  margin-bottom: 28px;
}

.control input:focus {
  outline: none;
  background: #4d4c4e;
}

.control.password input {
  color: #8b8b8b;
}

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }
}
