.selected-pokemon {
  position: absolute;
  width: 690px;
  height: 737px;
  left: 634px;
  top: 78px;

  background: #3b3e46;
  border-radius: 0px 8px 8px 0px;
}

header {
}

.content {
  background-color: red;
}
