.login {
  padding: 2rem;
  position: absolute;
  height: 459px;
  left: 466px;

  /*should be changed */
  top: 38px;

  background: #2d2f36;
  border-radius: 8px;
}

.actions {
  text-align: center;
}
